* {
    margin: 0px;
    padding: 0px;

}

body {
    background-color:#FCFC62;

}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;


}

.container {
    height: 45vh;
    width: 40vw;
    background-color:whitesmoke;
    border: 5px solid rgba(0, 0, 0, 0.69);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
 
}

.item{
    font-size: 40px;
    font-weight: 450;
    
}

.zero{
    margin-top: 20px;
    font-size: 100px;
    
    
}
.counter{
    margin-left: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.button1{
    padding: 10px;
    border-radius: 2px;
    width: 100px;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border: 1px solid rgba(13, 13, 13, 0.766);

    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}

button.button1:hover{
    background-color:#343a40;
    cursor: pointer;
}
